<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1366px, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/sobrenos.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <title>Sobre nós</title>
</head>
<body>

    <div class="box">
        <div class="faixa"> 
            <button class="btn-voltar" id="btnVoltar" type="button">< </button>
        </div>
        <h2>SOBRE NOS</h2>

        <div class = "introducao" > 
            <p> Para continuar, você pode se registrar no site ou entrar como anônimo. (Se escolher entrar como anônimo, seus dados não serão armazenados). </p>
        </div>


        <div class="card-container" >

            
            <div class="container-esquerdo" > 
                <div class="nomepessoa">Thiago Cesar Carvalho</div>

                <div class="card">
                    <div class="profile-img">
                        <img src="../imagen/transferir aaaa(1).jpeg" alt="Foto de perfil">
                    </div>
                    <div class="info">
                        <p>bla bla bla </p>
                        <p>bla bla bla </p>
                        <a href="#">VEJA MEU CURRICULO AQUI</a>
                    </div>
                </div>
                
            </div>



            <div class="container-direito" > 
                
                <div class="nomepessoa">Valenthina Ortiz Gasparin</div>
                <div class="card ">
                    
                    <div class="info">
                        <p>bla bla bla </p>
                        <p>bla bla bla </p>
                        <a href="#">VEJA MEU CURRICULO AQUI</a>
                    </div>
                    <div class="profile-img"></div>
                        <img src="../imagen/valenthina.jpg" alt="Foto de perfil">
                    </div>
                </div>

                <div class="container-esquerdo" > 
                    <div class="nomepessoa">Heitor Rodrigues Cruz</div>
    
                    <div class="card">
                        <div class="profile-img">
                            <img src="../imagen/transferir aaaa(1).jpeg" alt="Foto de perfil">
                        </div>
                        <div class="info">
                            <p>bla bla bla </p>
                            <p>bla bla bla </p>
                            <a href="#">VEJA MEU CURRICULO AQUI</a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="container-direito" > 
                
                    <div class="nomepessoa">Cassia Washigton</div>
                    <div class="card ">
                        
                        <div class="info">
                            <p>bla bla bla </p>
                            <p>bla bla bla </p>
                            <a href="#">VEJA MEU CURRICULO AQUI</a>
                        </div>
                        <div class="profile-img"></div>
                        <img src="../imagen/cassia.jpg" alt="Foto de perfil">
                        </div>
                    </div>


                <div class="container-esquerdo" > 
                    <div class="nomepessoa">Isabelly de Oliveira</div>
    
                    <div class="card">
                        <div class="profile-img">
                            <img src="../imagen/isabelly.jpg" alt="Foto de perfil">
                        </div>
                        <div class="info">
                            <p>bla bla bla </p>
                            <p>bla bla bla </p>
                            <a href="#">VEJA MEU CURRICULO AQUI</a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="container-direito" > 
                
                    <div class="nomepessoa">Steffany Felix Lourenco</div>
                    <div class="card ">
                        
                        <div class="info">
                            <p>bla bla bla </p>
                            <p>bla bla bla </p>
                            <a href="#">VEJA MEU CURRICULO AQUI</a>
                        </div>
                        <div class="profile-img"></div>
                        <img src="../imagen/transferir aaaa(1).jpeg" alt="Foto de perfil">
                        </div>
                    </div>


                <div class="container-esquerdo" > 
                    <div class="nomepessoa">Eduardo Pereira dos Santos</div>
    
                    <div class="card">
                        <div class="profile-img">
                            <img src="../imagen/transferir aaaa(1).jpeg" alt="Foto de perfil">
                        </div>
                        <div class="info">
                            <p>bla bla bla </p>
                            <p>bla bla bla </p>
                            <a href="#">VEJA MEU CURRICULO AQUI</a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="container-direito" > 
                
                    <div class="nomepessoa">Nicolas Lorena Pimentel</div>
                    <div class="card ">
                        
                        <div class="info">
                            <p>bla bla bla </p>
                            <p>bla bla bla </p>
                            <a href="#">VEJA MEU CURRICULO AQUI</a>
                        </div>
                        <div class="profile-img"></div>
                        <img src="../imagen/transferir aaaa(1).jpeg" alt="Foto de perfil">
                        </div>
                    </div>
        </div>
    </div>


        


    </div>    

    <div class="faixa">  </div>
</body>

<script> 
    const bntVoltar = document.getElementById("btnVoltar")
    bntVoltar.onclick = function ( ) { 
        window.location = "paginaInicial.html"
    }
</script>

</html>