<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.3">
    <link rel="stylesheet" type="text/css" href="../css/sobreProjeto.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <title>Sobre o Projeto</title>
</head>
<body>
    <div class="faixa"> 
        <button class="btn-voltar" id="btnVoltar" type="button">< </button>
    </div>

    <h2>SOBRE O PROJETO</h2>

    <div class = "introducao"> 
        <p>Nosso projeto &eacute; um quiz interativo criado para ajudar pessoas a encontrar o curso t&eacute;cnico que melhor se alinha aos seus interesses e habilidades.</p>
    </div>

    <div class = "descricao"> 
        <p>Atrav&eacute;s de perguntas simples e intuitivas, o quiz sugere op&ccedil;&otilde;es de cursos t&eacute;cnicos baseados nas respostas, guiando os participantes na escolha de uma carreira t&eacute;cnica que tenha a ver com seus talentos e aspira&ccedil;&otilde;es. Nossa equipe desenvolveu essa ferramenta pensando em facilitar a tomada de decis&atilde;o e inspirar futuros alunos a trilhar o caminho certo no mundo t&eacute;cnico. Teste e descubra o seu futuro!</p>
    </div>

    <div class="fim"> 
    </div>
</body>

<script> 
    const bntVoltar = document.getElementById("btnVoltar")
    bntVoltar.onclick = function() { 
        window.location = "../html/paginaInicial.html";
    }
</script>
</html>
