<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/sobrenos.css" media="screen" />
    
    <title>Sobre nós</title>
</head>
<body>

    <div class="box">
        <div class="faixa"> 
            <button class="btn-voltar" id="btnVoltar" type="button">< </button>
        </div>
        <h2>SOBRE NOS</h2>

        <div class = "introducao" > 
            <p> Para continuar, você pode se registrar no site ou entrar como anônimo. (Se escolher entrar como anônimo, seus dados não serão armazenados). </p>
        </div>
        
        <div class="Desenvolvedor-esquerda" >
            <h5>Isabelly de Oliveira</h5>
            
            <div class="Desenvolvedor-esquerda descricao" >
                <img src="user-profile-icon-free-vector.jpg" width="100px" height="100px">
                <p>bla bla bla bla bla bla bla bla bla</p>

                <a href="#" class="curriculo-link">VEJA MEU CURRÍCULO AQUI</a>

            </div>
        </div>

        <div class="Desenvolvedor-esquerda" >
            <h5>Isabelly de Oliveira</h5>
            <img src="user-profile-icon-free-vector.jpg" width="100px" height="100px">

            <div class="Desenvolvedor-esquerda descricao" >
                <p>bla bla bla bla bla bla bla bla bla</p>

                <a href="#" class="curriculo-link">VEJA MEU CURRÍCULO AQUI</a>

            </div>
        </div>

        <div class="Desenvolvedor-esquerda" >
            <h5>Isabelly de Oliveira</h5>
            
            <div class="Desenvolvedor-esquerda descricao" >
                <img src="user-profile-icon-free-vector.jpg" width="100px" height="100px">
                <p>bla bla bla bla bla bla bla bla bla</p>

                <a href="#" class="curriculo-link">VEJA MEU CURRÍCULO AQUI</a>

            </div>
        </div>

    </div>

    <!--    <div class="Desenvolvedor-direita" > 
            <h5>Isabelly de Oliveira</h5>
            <div class="Desenvolvedor-direita descricao" >
                <img src="../imagens/user-profile-icon-free-vector.jpg" width="100px" height="100px">
                <p>bla bla bla bla bla bla bla bla bla</p>
                <a href="#" class="curriculo-link">VEJA MEU CURRÍCULO AQUI</a>

            </div>
        </div> -->
    
</body>

</html>







