* {
    margin: 0;
    padding: 0;
    background: #F1F1F1;
    box-sizing: border-box;

}


.errorMessage{
    margin: 40px 0px 70px 0;
    text-transform: uppercase;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-weight: bolder;
    color: rgb(242, 56, 56);
    transition: all 0.3s ease;

}

.faixa {
    width: 1366px;
    height: 168px;
    background: var(--TOQUECOR, #3F7856);
    margin:  0px auto 150px auto;
    
}

h2 {
    color: var(--TOQUECOR, #3F7856);
    /* TITULO PRINCIPAL */
    font-family: "Fjalla One";
    text-align: center;
    font-size: 128px;
    font-weight: 400;
    margin: 0 auto 97px auto
}


p{
    color: #000;
    text-align: center;
    /* TEXTOS BASICOS */
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    margin: 0 auto 315px auto;
    word-wrap: break-word;
}


input {
    width: 1170px;
    height: 180px;
    background-color:  #3F7856;
    display: block;
    border: none;
    font-size: 70px;
    color: #FFF;
    padding-left: 70px;
    margin: 0 auto 97px auto;
    border-radius: 86px;

}

input::placeholder {
    color: #FFF;
    font-family: Inter;
    font-size: 70px;
    font-weight: 700;
}

input::content { 
    color: #ffffff;

}

button { 
    background-color:  #3F7856;
    display: block;
    border: none;
    font-size: 70px;

    width: 631px;
    height: 161px;
    border-radius: 86px;
    margin: 0 auto 91px auto;

    color: #FFF;

    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.btn-voltar { 
    margin: 23px 0 22px 49px;
    text-align: center;
    font-size: 80px;
    position: absolute;
    width: 128px;
    height: 123px;
    background: #D9D9D9;
    border: none
}

.possui-conta p{
    color: #000;
    display: block;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto 34px auto;
    }

.login { 
    font-weight: bolder;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    color:  #3F7856;
    font-family: Inter;
    font-size: 48px;
    font-weight: 650;
    line-height: 52px; 
}