* {
    margin: 0;
    padding: 0;
    background: #F1F1F1;
    box-sizing: border-box;

}

.btn-voltar { 
    margin: 23px 0 22px 49px;
    text-align: center;
    font-size: 80px;
    position: absolute;
    width: 128px;
    height: 123px;
    background: #D9D9D9;
    border: none
}


.faixa {
    width: 1366px;
    height: 168px;
    background: var(--TOQUECOR, #3F7856);
    margin:  0px auto 150px auto;
    
}

h2 {
    color: var(--TOQUECOR, #3F7856);
    /* TITULO PRINCIPAL */
    font-family: "Fjalla One";
    text-align: center;
    font-size: 128px;
    font-weight: 400;
    margin: 0 auto 97px auto
}

p { 
    color: #000;
    text-align: center;
    /* TEXTOS BASICOS */
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;


}

.introducao { 
    margin-bottom: 170px;
}


.btn-voltar { 
    margin: 23px 0 22px 49px;
    text-align: center;
    font-size: 80px;
    position: absolute;
    width: 128px;
    height: 123px;
    background: #D9D9D9;
    border: none
}


a { 
    text-decoration: none;
    color: var(--TOQUECOR, #3F7856);
    font-family: "Inter", system-ui;
    font-size: 38px;
    font-weight: 650;
    line-height: 52px;
    padding-bottom: 60px;

}

h5{ 
    font-weight: bold;
    color: #3F7856;
    font-size: 38px;
    font-family: Inter;
    font-weight: 600;
    display: block;
}


.introducao { 
    margin-top: 140px;
}
.Desenvolvedor-esquerda   { 
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}


.Desenvolvedor-esquerda .descricao{
    display: flex;
    align-items: flex-start;

}

img {
    border-radius: 52px;
    margin-right: 200px;
}
.Desenvolvedor-esquerda p{
    padding-top: 40px;
    padding-left: 40px;
}

.Desenvolvedor-esquerda h5{
    margin: 0 50px 0 0;
}

