* {
    margin: 0;
    padding: 0;
    background: #F1F1F1;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Garantir que a altura do body seja 100% */
}

.btn-voltar { 
    margin: 23px 0 22px 49px;
    text-align: center;
    font-size: 80px;
    position: absolute;
    width: 128px;
    height: 123px;
    background: #D9D9D9;
    border: none;
}

.faixa {
    width: 100%; /* Manter a largura como 100% */
    height: 168px;
    background: var(--TOQUECOR, #3F7856);
}

h2 {
    color: var(--TOQUECOR, #3F7856);
    font-family: "Fjalla One", system-ui;
    text-align: center;
    font-size: 128px;
    font-weight: 400;
    margin: 114px auto 100px auto;
}

p { 
    color: #000;
    text-align: center;
    font-family: "Inter", system-ui;
    font-size: 50px;
    font-weight: 400;
}

.introducao { 
    margin: 150px auto 170px auto;
}

.btn-voltar { 
    border-radius: 86px;
    margin: 23px 0 22px 49px;
    text-align: center;
    font-size: 80px;
    position: absolute;
    width: 128px;
    height: 123px;
    background: #D9D9D9;
    border: none;
}

/* Estilo geral do card */
.card {
    display: flex;
    align-items: center;
    padding: 10px;
    max-width: 1366px;
}

/* Estilo para a imagem de perfil */
.profile-img img {
    border-radius: 50%;
    width: 240px;  /* ajuste o tamanho conforme necessário */
    height: 240px; /* ajuste o tamanho conforme necessário */
    object-fit: cover; /* para manter a proporção da imagem */
}

/* Estilo para o conteúdo de texto */
.info {
    align-self: flex-end;
    margin-left: 15px;
}

.container-esquerdo {
    margin: 0 0 30px 40px; /* Margem esquerda e inferior */
    width: 1055px;
    height: 306px;
}

.container-direito {
    align-self: flex-end; /* Alinha este container à direita */
    margin: 0 40px 30px 0; /* Ajusta a margem direita */
    width: 1055px;
    height: 306px;
}

.card-container {
    width: 100%; /* Preenche toda a largura do pai */
    display: flex; /* Para usar flexbox */
    flex-direction: column; /* Colocar os itens em coluna */
    align-items: flex-start; /* Alinhar os itens à esquerda */
}

/* Nome */
.nomepessoa {
    color: #3F7856; /* ajuste a cor conforme necessário */
    margin: 0;
    font-family: "Fjalla One", system-ui;
    font-size: 38px;
    font-weight: 600;
}

/* Texto de descrição */
.info p {
    margin: 5px 0;
    text-align: justify;
    font-family: "Inter", system-ui;
    color: #000;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px; /* 120% */
}

/* Link para o currículo */
.info a {
    color: #3F7856; /* ajuste a cor conforme necessário */
    text-decoration: none;
    font-family: "Inter", system-ui;
    font-size: 38px;
    font-weight: 600;
}

.info a:hover {
    text-decoration: underline;
    text-decoration: none;
}

.container-direito .nomepessoa {
    text-align: right;
}

.fim {
    position: fixed; /* Fixa a faixa na parte inferior */
    bottom: 0; /* Posiciona a faixa na parte inferior da página */
    width: 100%; /* Largura 100% para ocupar toda a largura */
    height: 168px; /* Altura desejada */
    background: var(--TOQUECOR, #3F7856);  
}

.container-direito .info {
    direction: rtl;
    text-align: right;
    word-wrap: break-word;
}
